*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 2px solid green; */
}

:root {
    --black: #000000;
    --plain-white: #FFFFFF;
    --pure-red: #C82424;
    --gray: #CDC9C9;
    --light-gray: #D9D9D9;
    --dark-gray: #8B8B8B;
    --offWhite: #6C6C6C;
    --offGray: #F9F9F9;
    --spacer: 1.5rem;

}


body {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color: var(--black);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  header {
    
  }

  

.top {
    width: 100%;
    display: flex;
    gap: var(--spacer);
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 10px;
    padding: 10px 5%;
}

.top-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.down-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-bottom: 1px solid var(--gray);
    padding: 0 5%;
}

.down-container .social {
    width: 30px;
    border: 1px solid var(--black);
    padding: 6px;
    border-radius: 50%;
}

button {
    padding: 10px 20px;
    border: 1px solid var(--pure-red);
    background-color: var(--pure-red);
    color: var(--plain-white);
}

.nav-logo {
    padding: 5px 5%;
}

.hero {
    color: var(--plain-white);
    background-image: url(./asset/images/hero\ img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    gap: 2.5rem;
    font-size: 0.7rem;
}

.hero_top {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 100px;
}

.hero h3 {
    font-size: 0.8rem;
    border-bottom: 2px solid var(--pure-red);
    width: 80px;
    padding: 6px 0;
}

.hero button:last-child {
    background-color: transparent;
    border: 2px solid var(--plain-white);
    margin-left: 20px;
    border-radius: 5px;
}

.hero button:first-child {
    border-radius: 5px;
}

.hero p {
    line-height: 1.5;
}



h1 {
    font-size: 1.6rem;
}

.work {
    padding: 30px 5%;
}

.work_card {
    background-color: var(--offGray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 256px;
    gap: var(--spacer);
    border-bottom: 2px solid var(--gray);
}

.work_card h3 {
    font-size: 1.15rem;
}

.work_card p {
    font-size: 0.88rem;
}

/* About Us */
.about_us {
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.8rem;
}

#years {
    color: var(--pure-red);
}

.about_us h2 {
    font-size: 0.8rem;
    color: var(--offWhite);
    border-bottom:2px solid var(--pure-red);
    padding-bottom: 6px;
    width: 60px;
}

.about_us h4 {
    font-size: 1.65rem;
}

.about_us .para1 {
    font-size: 0.82rem;
}

.about_us_img {
    width: 340px;
}

.about_us_img img {
    width: 100%;
    object-fit: cover;
}

.success {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 7px 0;
}